:root{
    --text-color:#263238;
    --text-color2:#8F95A5;
}
.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body.lock{
    overflow: hidden;
}

/* reset */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    box-sizing: border-box;
}
html *, ::after, ::before{
    box-sizing: inherit;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.list{
    margin: 0;
    padding: 0;
    list-style: none;

}
.link {
    text-decoration: none;
    color: var(--text-color);
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

/* header */

.header-cont {
    max-width: 320px ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 36px 14px ;

}
.h1, .h1-modal{
    color: #000;
    
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
span{
    color: var(--text-color2);
}
.modal-open{
    margin: 0;
    border: none;
    background: none;
}
.burger{
    background-color: transparent;
    border: transparent;
}
.nav{
    display: none;
    margin: 0 auto;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 31px;
}
.nav-item-a, .nav-item-modal-a{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
}
.nav-btn, .nav-btn-modal{
    display: block;
    padding: 12px 38px 11px;
    width: 160px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    
color: var(--text-color);
border: 2px solid #263238;
border-radius: 10px;
}
.nav-btn{
    display: none;
}
/* modal */
.back-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 34, 47, 0.7);
    
}
.modal{
    position: relative;
    overflow: auto;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 25px 0 50px 15px 
}
.modal-close{
    position: absolute;
    top: 20px;
    right: 7px;
    background-color: transparent;
    border: transparent;
    padding: 0;
    
}
.cross {
    display: block;
    
}
.h1-modal {
    font-size: 24px;
    line-height: 36px;
    display: block;
    padding-bottom: 20px ;
}

.nav-item-modal{
    margin-bottom: 20px;
}
.nav-item-modal-a{
    font-weight: 500;
    font-size: 22px;
    line-height: 65px;
}
.cont{
    margin-bottom: 0;
}
.nav-menu-modal{
    padding: 48px 0 86px 0px;
}
.nav-modal{
    position: relative;
    margin-right:15px ;
}
.nav-modal::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #c4c4c4;
}
.nav-btn-modal{
    border-radius: 5px;
    padding: 17px 101px 18px;
    width: 291px;
    height:65px ;
}

/* 1 section */
.hero-cont{
    max-width: 320px ;
    margin: 0 auto;
}


.hero-h1 {
    width: 220px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    position: relative;
    margin: 0 auto;

}
.hero-h1::after{
    content: '';
    display: none;
    position: absolute;
    top: 50px;
    left: 200px;
    width: 55px;
    height: 55px;
    background-image: url(./images/ligh.svg#light);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.hero-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #8F95A5;
    margin: 20px 15px 51px 15px;
}
.hero-btn {
    font-size: 16px;
    line-height: 24px;
    padding: 18px 100px;
    margin: 0 15px;

    color: #ffffff;
    background: #263238;
    border-radius: 5px;

    display: block;
    text-align: center;
    
}
.hero-img{
    margin: 0 auto;
    display: block;
}


/* 2 section */
.skills-cont{
    max-width: 320px;
    margin: 0 auto;
}
.skills{
    padding: 53px 12px 50px 15px;
}
.skills-svg{
    display: block;
    margin: 0 auto;
}
.skills-h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 80px;
    text-align: center;
    margin-bottom: 32px;
}
.skills-ul-item {
    
    background: #F5F5F5;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 21px;
}
.skills-li-cont{
    padding: 8px 0 45px 16px;
}

.skills-ul-item-h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 80px;
    
    color: #263238;
}
.skills-ul-item-p {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 40px;
    width: 258px;

    color: #8F95A5;
}
.skills-ul-item-p1{
    margin-bottom: 15px;

}
.skills-ul-item-a {
    display: block;
    width: 178px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 14px 43px;

    background: #263238;
    border-radius: 5px;
}
.grid_item_4{
    margin-bottom: 0;
}

/* about */
.about {
}
.about-cont {
    max-width: 320px ;
    margin: 0 auto;
    padding: 30px 15px 84px;
}
.about-h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 80px;
    color: #000000;
    text-align: center;
}
.about-svg {
    margin: 0 auto;
    display: block;
}
.about-p {
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #8F95A5;
    
}
.about-ul {
    text-align: center;
}
.about-ul-item {
}
.about-ul-item h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 80px;
    color: #2A3246;

}
.about-ul-item p{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #8F95A5;
}

/* PRICING */

.pricing-h2 {
    color: #000000;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 80px;
}
.pricing-ul {
}
.pricing-ul-item {
}
.pricing-svg {
    margin: 0 auto;
    display: block;
    width: 248px;
    height: 248px ;
}
.pricing-ul-item-h4 {
    margin-bottom: 17px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #263238;

}
.pricing-ul-item-p {
    width: 272px;
    margin: 0 auto;
    margin-bottom: 38px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #8F95A5;

}
.pricing-ul-item-a {
    display: flex;
    gap: 7px;
    align-items: center;
    
    padding: 5px 13px;
    background: #EEEEEE;
    border-radius: 5px;
    width: 170px;
    margin: 0 auto;
}
.pricing-ul-item-a h4{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #263238;
}
.pricing-ul-item-a p{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #546269;
}
.link {
}

/* CONTACT */
.contact-cont {
    max-width: 320px ;
    margin: 0 auto;
    position: relative;
    padding: 100px 15px 55px;

}
.contact-h2 {
    position: absolute;
    top: 100px;
    left:80px ;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 80px;
}
.contact-svg {
    display: block;
    margin: 0 auto;
    margin-top: 118px;
    width: 253px ;
    height: 228px;
}
.contact-p {
    margin-top: 38px;
    margin-bottom: 31px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #8F95A5;
}
.input{
    text-align: center;
}
.modal-form-input{
    width: 291px;
    height: 50px;
    padding: 16px 162px 16px 26px;
    margin-bottom:17px ;
    

    border: 1px solid #8F95A5;
    border-radius: 5px;

    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.input-btn{
    text-align: center;
}
.btn-form-modal{
    width: 290px;
    height: 60px; 
    padding: 20px 110px;
    

    background: #263238;
    border-radius: 5px;
    border: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
}

/* FOOTER */

.footer-cont{
    max-width: 320px;
    margin: 0 auto;
    padding: 26px 11px 48px 15px; 
    position: relative;
    justify-content: space-between;
}
.footer-cont::before{
    content: '';
    position: absolute;
    left: 15px;
    top:0 ;
    width: 290px ;
    height: 1px;
    background: #C4C4C4;

}
.footer-logo{
    margin-left: 124px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
.footer-nav-menu{
    justify-content: center;
    margin-top:15px ;
    display: flex;
    gap: 7px;
    
}
.footer-nav-item{
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #8F95A5;
}
.footer-nav-item_af{
    position: relative;
}
.footer-nav-item_af::after{
    content: '';
    border-radius: 50%;
    width: 3px;
    height: 3px;
    background-color: #8F95A5;
    display: block;
    position: absolute;
    top: 50%;
    left: 124px;
}
.footer-nav-item_aft{
    position: relative;
}
.footer-nav-item_aft::after{
    content: '';
    border-radius: 50%;
    width: 3px;
    height: 3px;
    background-color: #8F95A5;
    display: block;
    position: absolute;
    top: 50%;
    left: 77px;
}





/* media */

@media screen and (min-width: 575px){
    .modal{
        padding: 48px 0 80px 33px;
    }
    .header-cont{
        max-width: 575px ;
        margin: 0 auto;
        padding: 39px  32px 0 50px;
    }
    .modal-open {
        border: none;
    }
    .h1{
        font-size: 30px;
    }
    .h1-modal{
        padding-bottom: 44px ;
        font-size: 30px;
        line-height: 45px;
    }
    .burger {
        width: 42px;
        height: 24px;
    }
    .nav-modal{
        margin-right: 32px;
    }
    .nav-btn-modal{
        margin: 0;
    }
    .cross {
        width: 39px;
        height: 39px;
    }
    .modal-close{
        top: 54px;
        right: 32px;
    }
    .nav-item-modal-a{
        font-size: 24px;
        line-height: 65px;
    }
/* hero */

    .hero-cont{
        max-width: 575px;
        margin: 0 auto;
    }
    .hero-h1{
        font-size: 34px;
        line-height: 45px;
        width: 491px;
    }
    .hero-p {
        font-size: 16px;
        line-height: 24px;
        width: 486px;
        margin: 26px auto 61px;
    }
    .hero-btn{
        font-size: 18px;
        line-height: 27px;
        padding: 24px 101px;
        margin:0 135px;
    }

/* skills */
    .skills-cont{
        max-width: 575px;
        margin: 0 auto;
        margin-top: 96px ;
        margin-bottom: 84px;
    }
    .skills-h2{
        font-size: 30px;
        line-height: 80px;
    }
    .skills-svg{
        width: 182px;
        height: 182px;
    }
    .skills-li-cont{
        padding: 20px 15px 0 15px;
    }
    .skills-ul-item-h4{
        font-size: 18px;
        line-height: 40px;
    }
    .skills-ul-item{
        position: relative;
        margin: 0;
    }
    .skills-ul-item-p {
        font-size: 13px;
        line-height: 18px;
        width: 200px;
        margin-bottom: 0;
    }
    .skills-ul-item-p1{
        margin-bottom: 5px;
    }
    .skills-ul-item-a{
        width: 200px;
        padding: 14px 54px;
        position: absolute;
        bottom: 51px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 534px 534px;
        row-gap: 34px;
        column-gap: 30px;
    }
    .grid_item_1{
        padding-top: 0;
    }
    .grid_item_1 > .skills-svg{
        width: 185px;
        height: 185px;
    }
    .grid_item_2 > .skills-svg{
        width: 182px;
        height: 182px;
    }
    .grid_item_3 > .skills-svg{
        width: 198px;
        height: 132px;
    }
    .grid_item_4 > .skills-svg{
        width: 206px;
        height: 137px;
    }

    /* about */
    .about-cont {
        max-width: 575px;
        margin: 0 auto;
        padding: 84px 30px 30px;
    }
    .about-h2 {
        font-size: 30px;
        line-height: 80px;
    }
    .about-svg {
        margin: 0 auto;
        display: block;
        width: 352px;
        height: 352px;
        
        margin-top:23px;
        margin-bottom: 25px;
    }
    .about-p {
        width: 510px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 21px;
        

    }
    .about-ul {
        display: flex;
        gap: 100px;
        justify-content: center;

    }
    .about-ul-item {
    }
    .about-ul-item h4{

    
    }
    .about-ul-item p{

    }

    /* PRICING */
    .pricing-cont{
        padding: 130px 90px 0 90px;
    }
    .pricing-ul-item{
        margin-top: 70px;
    }
    .pricing-h2{
        font-size: 30px;
        line-height: 80px;
    }
    .pricing-svg{
        

        width:291px;
        height:291px;
    }
    .pricing-ul-item-h4{
        margin-bottom: 23px;
        font-size: 24px;
        line-height: 28px;
    }
    .pricing-ul-item-p{
        width: 394px;
        font-size: 14px;
        line-height: 21px;
    }
    .pricing-ul-item-a{
        padding: 5px 23px 7px 12px;
        width: 205px;
    }
    .pricing-ul-item-a h4{
        font-size: 22px;
        line-height: 33px;
    }
    .pricing-ul-item-a p{
        font-size: 16px;
        line-height: 24px;
    }


    /* CONTACT */
    .contact-cont {
        max-width: 575px;
        margin: 0 auto;
        position: relative;
        padding: 200px 30px 100px;
    }
    .contact-h2 {
        position: absolute;
        top: 200px;
    left: 180px;
    font-size: 30px;
    line-height: 80px;
    }
    .contact-svg {

    width: 358px ;
    height: 322px;
    margin-top: 163px;
    }
    .contact-p {
    
    margin-top: 34px;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 24px;;
    }
    .form{    

    }
    .input{
    position: relative;
    text-align: start;
    }
    .modal-form-input{
    width: 515px;
    height: 60px;
    padding: 20px 374px 20px 25px;
    margin: 0;
    
    border-radius: 10px;

    font-size: 13px;
    line-height: 20px;
    }
    .input-btn{
    position: absolute;
    right: 0;
    top: 0;
    }
    .btn-form-modal{
    width: 193px;
    height: 60px; 
    padding: 20px 56px;
    
    border-radius: 10px;

    font-size: 16px;
    line-height: 24px;

    }

    /* footer */
    .footer-cont{
        max-width: 575px;
        margin: 0 auto;
        padding: 24px 30px 26px 32px;
        display: flex;
        gap: 104px;
    }
    .footer-nav-item{
        font-size: 12px;
        line-height: 18px;
    }
    .footer-logo{
        margin: 0;
        font-size: 30px;
        line-height: 45px;
    }
    .footer-nav{
    }
    .footer-nav-item_af::after{
        left: 136px;
    }
    .footer-nav-item_aft::after{
        left:84px ;
    }
    .footer-cont::before{
        width: 510px;
        left: 33px;
    }



}
@media screen and (min-width: 768px){
    .header-cont{
        max-width: 768px;
        margin: 0 auto;
        padding: 0;
        padding: 39px 39px 0 39px;
    }
    .modal{
        width: 429px;
        padding: 39px 0 62px 39px;
    }
    .h1-modal{
        padding-bottom: 21px;
        font-size: 30px;
        line-height: 45px;
    }
    .nav-btn-modal{
        padding: 17px 65px;
    }
    .nav-item-modal{
        margin-bottom: 8px;
    }
    .modal-close {
        top: 39px;
        right: 15px;
    }
    .nav-modal{
        margin-right: 26px;
    }
    .nav-btn-modal{
        width: 210px;
        height: 60px;
        padding: 16px 0px 17px 0px;
    }
    .nav-item-modal-a{
        font-size: 22px;
        line-height: 60px;
    }
    
    /* hero */

    .hero-cont{
        max-width: 768px;
        padding: 68px 17px 0 39px;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        
    }

    .hero-h1{
        text-align: start;
        font-size: 36px;
        line-height: 45px;
        width: 217px;
        margin: 0;
        margin-right: 0;
    }
    .hero-h1::after{
        display: block;
    }
    .hero-p {
        text-align:start;
        font-size: 16px;
        line-height: 24px;
        width: 338px;
        margin: 25px 0px 51px 0;
    }
    .hero-btn{
        font-size: 18px;
        line-height: 27px;
        padding: 19px 57px;
        margin: 0;
    }

    /* skills */

    .skills-h2{
        font-size: 30px;
        line-height: 80px;
    }
    .skills-cont{
        max-width: 768px;
        margin: 0 auto;
    }
    .skills-li-cont{
        
        padding: 31px 0 51px 17px;
    }
    .skills-svg{
        width: 214px;
        height: 214px;
    }

    .skills-ul-item{
        position: relative;
        

    }

    .skills-ul-item-h4{
        font-size: 20px;
        line-height: 40px;
    }
    .skills-ul-item-p {
        font-size: 13px;
        line-height: 1.5;
        width: 197px;
    }
    .skills-ul-item-p1{
        margin-bottom: 20px;
    }
    .skills-ul-item-a{
        padding: 14px 54px;
        position: absolute;
        bottom: 1px;
        font-size: 16px;
        line-height: 24px;
    }
    .grid{
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 441px 210px;
    }
    .grid_item_1{
        height: 662px;
        grid-row-start: 1;
        grid-row-end:3;
        margin-bottom:0 ;
    }
    .grid_item_4{
        padding-bottom: 0;
        height: 210px;
        display: flex;
        flex-direction: row-reverse;
        grid-column-start: 2;
        grid-column-end: 4;
        position: relative;
    }
    .grid_item_2{
        padding-top: 0;
        padding-right: 15px;
    }
    .grid_item_4 p{
        width: 250px;
    }
    .grid a{
        position: absolute;
        bottom: 20px;
    }
    .grid_item_1 > .skills-svg{
        width: 214px;
        height: 214px;
    }
    .grid_item_2 > .skills-svg{
        width: 200px;
        height: 200px;
    }
    .grid_item_3 > .skills-svg{
        width: 216px;
        height: 144px;
    }
    .grid_item_4 > .skills-svg{
        
        align-self:last baseline;
        width: 202px;
        height: 134px;
    }
        /* about */
        .about-cont {
            max-width: 768px;
            margin: 0 auto;
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding-top: 131px;
            padding-bottom: 90px;
        }
        .about-h2 {
            position: absolute;
            left: 30px;
            top: 80px;
        }
        .about-svg {
            
            margin: 0;
            width: 295px;
            height: 295px;
        }
        .about-p {
            margin: 0;
            margin-top: 30px;
            width: 321px;
            text-align: start;
            font-size: 14px;
            line-height: 21px;
        }
        .about-ul {
            display: flex;
            gap: 50px;
            justify-content: start;
        }
        .about-ul-item {
        }
        .about-ul-item h4{
            font-size: 22px;
            line-height: 80px;
        }
        .about-ul-item p{
            font-size: 13px;
            line-height: 20px;
    
        }
    
    /* PRICING */
    .pricing-ul{
        display: flex;
        justify-content: space-between;
        gap:30px ;
    }
    .pricing-cont{
        max-width: 768px;
        margin: 0 auto;
        padding: 0 30px 50px;
    }
    .pricing-li{

    }
    .pricing-ul-item{
        margin-top: 0;

    }
    .pricing-h2{
        font-size: 30px;
        line-height: 80px;
    }
    .pricing-svg{
        width: 197px;
        height: 197px;
    }
    .pricing-ul-item{
        position: relative;
    }
    .pricing-ul-item-h4{
        text-align: start;
        font-size: 20px;
        line-height: 28px;
        width: 174px;
    }
    .pricing-ul-item-p{
        text-align: start;
        font-size: 14px;
        line-height: 21px;
        width: 200px;
    }
    .pricing-ul-item-a{
        position: absolute;
        left: 0;
        width: 205px;
    }
    .p{
        margin-bottom: 57px;
    }
    .p1{
        margin-bottom: 64px;
        margin-top: 45px;
    }
    .pricing-ul-item-a h4{
        font-size: 22px;
        line-height: 33px;
    }
    .pricing-ul-item-a p{
        font-size: 16px;
        line-height: 24px;
    }

    /* CONTACT */
.contact-cont {
    max-width: 768px;
    margin: 0px auto;
    padding: 65px 39px 130px 39px;
    display: flex;
    justify-content: space-between;

}
.contact-text{
    width: 434px;
}
.contact-h2 {
    position: static;
    text-align: start;
}
.contact-svg {
    width: 233px ;
    height: 210px;
    margin: 0px;
}
.contact-p {
    width: 400px;
    text-align: start;
    margin-top: 0px;
    margin-bottom: 26px;
    font-size: 14px;
    line-height: 21px;
}
.input{
    position: relative;
    text-align: start;
}
.modal-form-input{
    width: 283px;
    height: 50px;
    padding: 16px 100px 16px 24px;
    
    border-radius: 5px;

    font-size: 12px;
    line-height: 18px;
}
.input-btn{
    position: absolute;
    right: 0;
    top: 0;
}
.btn-form-modal{
    width: 145px;
    height: 50px; 
    padding: 15px 40px;
    
    border-radius: 10px;

    font-size: 13px;
    line-height: 20px;
}


    /* footer */
    .footer-cont{
        max-width: 768px;
        margin: 0 auto;
        padding: 18px 30px 15px 38px;
        gap: 261px;
    }
    .footer-nav-item{
        font-size: 13px;
        line-height: 20px;
    }
    .footer-logo{
        font-size: 30px;
        line-height: 45px;
    }
    .footer-nav{
    }
    .footer-nav-item_af::after{
        left: 147px;
    }
    .footer-nav-item_aft::after{
        left:91px ;
    }
    .footer-cont::before{
        width: 690px;
        left: 39px;
    }
    
}

@media screen and (min-width: 992px){

    .header-cont{
        max-width: 992px ;
        margin: 0 auto;
        padding:25px 31px 0 31px;
        align-items: center;
    }
    .modal-open {
        display: none;
    }
    .nav{
        display:flex;
        justify-content: center;
    }
    .nav-btn{
        display: flex;
    }
        /* hero */
    .hero-cont{
        max-width: 992px;
        margin: 0 auto;
        padding-top: 81px;

    }
    .hero-h1{
        text-align: start;
        font-size: 48px;
        line-height: 64px;
        width: 290px;
    }
    .hero-h1::after{
        background-image: url(./images/ligh.svg#light);
        left: 270px;
        top: 90px;

        width: 62px;
        height: 62px;
    }
    .hero-p {
        text-align:start;
        font-size: 20px;
        line-height: 30px;
        width: 421px;
        margin: 27px 0px 55px;
    }
    .hero-btn{
        font-size: 24px;
        line-height: 36px;
        padding: 22px 78px;
        margin-top: 0;
    }

    /* skills */
    .skills{
        padding:72px 26px 0 32px ;
    }
    .skills-cont{
        max-width: 992px;
        margin: 0 auto;
    }
    .skills-h2{
        font-size: 36px;
        line-height: 80px;
    }
    .skills-li-cont{
        padding:0 13px 71px 22px;
    }
    .skills-ul-item{
        position: relative;
    }
    .skills-ul-item-h4{
        font-size: 22px;
        line-height: 80px;
    }
    .skills-ul-item-p {
        font-size: 14px;
        line-height: 1.5;
        width: 250px;
    }
    .skills-ul-item-p1{
        margin-bottom: 20px;
    }
    .skills-ul-item-a{
        padding: 16px 42px 19px ;
        font-size: 18px;
        line-height: 27px;
    }
    .grid{
        display: grid;
        gap: 13px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 441px 241px;
    }
    .grid_item_1{
        height: 696px;
    }
    .grid_item_4{
        height: 241px;
    }
    .grid_item_4 p{
        width: 401px;
    }
    .grid_item_1 > .skills-svg{
        width: 260px;
        height: 260px;
    }
    .grid_item_2 > .skills-svg{
        width: 160px;
        height: 160px;
    }
    .grid_item_3 > .skills-svg{
        width: 243px;
        height: 162px;
    }
    .grid_item_4 > .skills-svg{
        width: 254px;
        height: 169px;
    }


            /* about */
        .about-cont {
            max-width: 992px;
            margin: 0 auto;
            padding: 200px 31px 125px 31px;
            position: relative;
        }
        .about-h2 {
            position: absolute;
            left: 31px;
            top: 100px;
        }
        .about-svg {
            margin: 0;
            width: 336px;
            height: 336px;
        }
        .about-p {
            margin: 0;
            margin-top: 50px;
            margin-bottom: 50px;
            width: 615px;
            font-size: 16px;
            line-height: 24px;
        }
        .about-ul {
            gap: 60px;
        }
        .about-ul-item {
        }
        .about-ul-item h4{
            font-size: 22px;
            line-height: 80px;
        }
        .about-ul-item p{
            font-size: 16px;
            line-height: 24px;
    
        }

    /* PRICING */
    .pricing-cont{

        max-width: 992px;
        margin: 0 auto;
        padding: 0 31px 45px;

    }
    .pricing-h2{
        font-size: 36px;
        line-height: 80px;
    }
    .pricing-svg{
        margin: 0;
        width: 222px ;
        height: 222px;
    }
    .pricing-ul-item-h4{
        font-size: 22px;
        line-height: 34px;
        width: 273px;
    }
    .p1{
        margin-top: 0;
        margin-bottom: 50px;
    }
    .pricing-ul-item-p{
        font-size: 16px;
        line-height: 24px;

        width: 270px;
    }
    .p{
        margin-bottom: 87px;
    }
    .p1{
        margin-bottom: 60px;
    }
    .pricing-ul-item-a{
        height: 45px;
        padding: 5px 0px 7px 12px
    }
    .pricing-ul-item-a h4{
        font-size: 24px;
        line-height: 36px;
    }
    .pricing-ul-item-a p{
        font-size: 16px;
        line-height: 24px;
    }

        /* CONTACT */
.contact-cont {
    max-width: 992px;
    margin: 0px auto;
    padding: 150px 28px 194px 28px ;

}
.contact-text{
    width: 530px;
}
.contact-h2 {
    font-size: 36px;
    line-height: 80px;
}
.contact-svg {
    width: 312px ;
    height: 281px;
}
.contact-p {
    width:450px ;
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 24px;
}
.modal-form-input{
    width: 323px;
    height: 60px;
    padding: 23px 100px 16px 38px;
    
    border-radius: 10px;

    font-size: 14px;
    line-height: 21px;
}
.btn-form-modal{
    width: 193px;
    height: 60px; 
    
    border-radius: 10px;

    font-size: 16px;
    line-height: 24px;
}



    /* footer */
    .footer-cont{
        max-width: 992px;
        margin: 0 auto;
        padding: 24px 30px;
        gap: 422px;
    }
    .footer-nav-item{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    .footer-nav-item_af::after{
        left: 178px;
    }
    .footer-nav-item_aft::after{
        left:110px ;
    }
    .footer-cont::before{
        width: 929px;
        left: 32px;
    }

}
@media screen and (min-width: 993px){
    .modal{
        display:none;
    }
}
@media screen and (min-width: 1600px){

    .header-cont{
        max-width: 1600px ;
        margin: 0 auto;
        padding: 55px 131px 0 131px;
    }
    .nav-menu {
        gap: 50px;
        justify-content: center;
    }
    .nav-btn {
        width: 312px;
        height: 70px;
        padding: 20px 56px 20px 110px;
        border-radius: 10px;
        font-size: 20px;
        
    }
    .h1{
        font-size: 36px;
    }
    .nav-item-a {
        font-size: 20px;
    }
/* hero */
    .hero-cont{
        max-width: 1600px;
        margin: 0 auto;
        padding: 63px 131px 180px 131px ;
    }
    .hero-h1{
        text-align: start;
        font-size: 64px;
        line-height: 80px;
        width: 386px;
    }
    .hero-h1::after{
        background-image: url(./images/ligh.svg#light);
        left: 350px;
        top: 80px;

        width: 85px;
        height: 85px;
    }
    .hero-p {
        text-align:start;
        font-size: 24px;
        line-height: 36px;
        width: 540px;
        margin: 40px 0 83px 0;
    }
    .hero-btn{
        font-size: 36px;
        line-height: 54px;
        padding: 23px 103px;
        margin: 0;
        
    }

    /* skills */
    .skills{
        padding: 0 131px;
    }
    .skills-cont{
        max-width: 1600px;
        margin: 0 auto;
    }
    .skills-h2{
        font-size: 48px;
        line-height: 72px;
        margin-bottom:60px ;
    }
    .skills-li-cont{
        padding:0 18px 71px 18px;
    }
    .skills-ul-item{
        position: relative;
    }
    .skills-ul-item-h4{
        font-size: 30px;
        line-height: 45px;
        margin-bottom:20px ;
    }
    .skills-ul-item-p {
        font-size: 16px;
        line-height: 1.5;
        width: 350px;
    }
    .skills-ul-item-p1{
        margin-bottom: 30px;
    }
    .skills-ul-item-a{
        display: block;
        width: 230px;
        padding: 15px 51px  15px 52px ;
        font-size: 18px;
        line-height: 27px;
    }
    .text-4{
        padding-top: 32px;
    }
    .grid{
        
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 579px 338px;
        position: relative;
    }
    
    .grid_item_4{
        padding-bottom: 32px;
        height: 338px;
    }
    .grid_item_1{
        height:947px ;
    }
    .grid_item_1 > .skills-svg{
        width: 390px;
        height: 390px;
    }
    .grid_item_2 > .skills-svg{
        width: 390px;
        height: 264px;
    }
    .grid_item_3 > .skills-svg{
        width: 390px;
        height: 264px;
    }
    .grid_item_4 > .skills-svg{
        margin-right: 0;
        align-self:flex-end;
        width:408px ;
        height:274px ;
    }
    .grid_item_1 a{
        bottom: 170px;
    }
    .grid_item_4 a{
        bottom: 94px;
    }
    .grid_item_4 p{
        width:324px ;
        height:72px ;
    }

    
    /* about */
        .about-cont {
            max-width: 1600px;
            margin: 0 auto;
            padding: 312px 132px 0 132px ;
            position: relative;
        }
        .about-h2 {
            position: absolute;
            font-size: 48px;
            line-height: 72px;
            left: 132px;
            top: 250px;
        }
        .about-svg {
            display: block;
            margin: 0;
            width: 540px;
            height: 540px;
        }
        .about-p {

            margin: 0;
            margin-top:80px ;
            margin-bottom: 100px;
            width: 652px;
            font-size: 20px;
            line-height: 36px;
            
        }
        .about-ul {
            gap: 130px;
        }
        .about-ul-item {
        }
        .about-ul-item h4{
            font-size: 48px;
            line-height: 72px;
        }
        .about-ul-item p{
            font-size: 20px;
            line-height: 30px;
        }
    
    /* PRICING */
    .pricing-cont{
        max-width: 1600px;
        margin: 0 auto;
        padding: 200px 131px 50px 131px;


    }
    .pricing-h2{
        font-size: 48px;
        line-height: 72px;
    }
    .pricing-svg{
        width: 426px;
        height: 320px;
    }
    .pricing-ul-item-h4{
        width: 383px;
        font-size: 30px;
        line-height: 48px;
    }
    .pricing-ul-item-p{
        width: 426px;
        font-size: 20px;
        line-height: 30px;
    }
    .p{
        margin-bottom: 67px;
    }
    .pricing-ul-item-a{
        gap: 21px;
        width: 260px;
        padding:5px 23px;
    }
    .pricing-ul-item-a h4{
        font-size: 24px;
        line-height: 36px;
    }
    .pricing-ul-item-a p{
        font-size: 18px;
        line-height: 27px;
    }


        /* CONTACT */
.contact-cont {
    max-width: 1600px;
    margin: 0px auto;
    padding: 180px 131px 50px 131px;

}
.contact-text{
    width: 767px;
}
.contact-h2 {
    font-size: 48px;
    line-height: 72px;
}
.contact-svg {
    width: 425px ;
    height: 430px;
}
.contact-p {
    width:654px ;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
}
.modal-form-input{
    width: 425px;
    height: 70px;
    padding: 20px 30px;
    
    border-radius: 10px;

    font-size: 16px;
    line-height: 30px;
}
.btn-form-modal{
    width: 312px;
    height: 70px; 
    padding: 20px 56px;
    
    border-radius: 10px;

    font-size: 20px;
    line-height: 30px;
}



    /* footer */
    .footer-cont{
        max-width: 1600px;
        margin: 0 auto;
        padding: 22px 132px 77px 131px;
        display: flex;
        gap: 463px;
    }
    .footer-nav-menu{
        gap: 80px;
    }
    .footer-nav-item{
        font-size: 24px;
        line-height: 36px;
    }
    .footer-logo{
        font-size: 36px;
        line-height: 54px;
    }
    .footer-nav{
    }
    .footer-nav-item_af::after{
        display: none;
    }
    .footer-nav-item_aft::after{
        display: none;
    }
    .footer-cont::before{
        width:1338px ;
        left: 131px;
    }

}

